.auth {
  background-image: url('https://openweathermap.org/themes/openweathermap/assets/img/Open-weather-main-page.png');
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.names {
  text-align: center;
}

.login {
  text-align: center;
  margin-top: 350px;
}

.places {
  color: white;
  background-color:rgb(32,32,32);
}

.topRight {
  position: absolute;
  top: 8px;
  right: 16px;
}

.topLeft {
  z-index: 1;
  position: absolute;
  top: 100px;
  left: 2%;
}

.bottomRight {
  position: absolute;
  bottom: 14px;
  right: 16px;
}

#locationButton {
  /* align-self: center; */
  z-index: 1;
  position: absolute;
  bottom: 8%;
  left: 8%;
  width: 250px;
  height: 70px;
}

  #map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  margin-top: 15px;
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}
  
  .card {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .card-title {
    font-size: 50px;
    left: 0;
  }
  
  .card-text-ls {
    font-size: 50px;
    font-weight: bold;
  }
  
  .card-text-rs {
    font-size: 30px;
    font-weight: bold;
  }
  
  #weatherImg {
    padding-top: 5%;
    width: 50%;
    margin-left: 57%;
  }
  
  #time {
    font-size: 20px;
  }

  #placesHeader {
    margin-top: 1%;
    margin-left: 10%;
  }
  
  #x-button {
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 20px;
    width: 30px;
    height: 30px;
  }

  .detailsPlace{
    background-color:rgb(32,32,32);;
  }

  #topLeftDetail {
    top: 5%;
    left: 5%;
  }
  
  #placeId {
    font-size: 45px;
    font-weight: bold;
    color:#dcdcdc;
  }
  
  #fromTop {
    padding-top: 5%;
  }
  
  #mainCardDetails{
    color: #dcdcdc;
    border-radius: 10px;
    padding: 3%;
    margin: 8%;
    
  }
  
  .dayOfWeek{
    padding-bottom: 3%;
    padding-left: 8%;
    font-size: 3.25vmax;
    font-weight:650;
    color:#dcdcdc;
  }
  
  .detailsPlaces{
    background-color:rgb(32,32,32);;
  }
  
  #WeatherImages {
    padding-top: 6%;
  }
  
  .weatherIconSize{
    width: 3.5vmax;
    height: 3.5vmax;
  }
  
  .weatherIconText{
    padding-top: 3%;
    font-size: 1vmax;
    font-weight: 600;
    color:#dcdcdc;
  }
  
  .weatherIconSizeFromApi{
    width: 8vmax;
    height: 8vmax;
  }
  
  .weatherIconTextValue{
    font-size: 1.25vmax;
    font-weight: 600;
    color:#dcdcdc;
  }
  
  .dateSpecific{
    font-size: 25px;
    margin-left: 20%;
    /* padding-left: 60%; */
    font-weight: bold;
    color:#dcdcdc;
  }
  
  .detailsTemperature{
    padding-right: 3%;
    padding-bottom: 3%;
    font-size: 3vmax;
    font-weight:650;
    color:#dcdcdc;
    /* text-align: right; */
  }
  
  hr.line {
    border: 1px solid #dcdcdc;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .nightTemperature {
    padding-right: 1%;
    padding-bottom: 1%;
    font-size: 1.5vmax;
    font-weight:650;
    color:#dcdcdc;
    /* text-align: right; */
  }

  .celciusTemperature {
    padding-right: 1%;
    padding-bottom: 1%;
    font-size: 2vmax;
    font-weight:650;
    color:#dcdcdc;
  }
  
  
  