.auth {
  background-image: url('https://openweathermap.org/themes/openweathermap/assets/img/Open-weather-main-page.png');
  background-attachment: fixed;
  background-size: cover;
}

.names {
  text-align: center;
}

.login {
  text-align: center;
  margin-top: 257px;
}

.places {
  color: white;
  background-color:rgb(32,32,32);
}

.topRight {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottomRight {
  position: absolute;
  bottom: 14px;
  right: 16px;
}
